// ===COLORS===
$text-color: white;
$theme-color: #000;
$secondary-color: #ff5c01;
$link-color: $theme-color;
$menu-item-color: $text-color;

//===FONTS===
$text-font: verdana, arial, sans-serif;
$headline-font: 'palatino linotype', georgia, serif;

//===SIZES===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;



